<div class="d-flex flex-column min-vh-100">
  @if (msalEncryptionInitialize) {
    <router-outlet></router-outlet> 
  }
  @else {
    <div>
      <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="spinner-border text-success">
          <span class="visually-hidden">Chargement...</span>
        </div>
      </div>
    </div>
  }
  <entra-redirect></entra-redirect>
  <footer class="footer mt-auto py-3 border-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <p class="text-center">© 2025 - ErabliereAPI - <a href="/termesandcondition">Termes et conditions</a></p>
        </div>
      </div>
    </div>
    @if (erabliereAIEnable && erabliereAIUserRole) {
    <app-chat-widget></app-chat-widget>
    }
  </footer>
</div>
