<div class="container">
    <h1 class="text-center">Termes d'utilisation de ErabliereAPI</h1>
    <h5 class="text-center mb-5">Date d'entrée en vigueur : 2025-07-23</h5>
    <p>Bienvenue sur notre application web dédiée à l'Internet des Objets (IoT). En utilisant notre service, vous
        acceptez de respecter les termes et conditions suivants. Si vous n'acceptez pas ces termes, veuillez ne pas
        utiliser notre application.</p>
    <h2>1. Acceptation des Conditions</h2>
    <p>En accédant ou en utilisant notre application, vous reconnaissez avoir lu, compris et accepté d'être lié par ces
        termes d'utilisation. Si vous êtes en désaccord avec l'un des termes, vous ne devez pas utiliser notre service.
    </p>
    <h2>2. Description du Service</h2>
    <p>Notre application permet aux utilisateurs de :</p>
    <ul>
        <li>Recevoir des alertes basées sur les données collectées par des capteurs IoT.</li>
        <li>Générer du contenu à l'aide d'intelligence artificielle (IA).</li>
        <li>Partager des données publiques liées à la surveillance par capteur.</li>
    </ul>
    <h2>3. Engagement de Qualité</h2>
    <p>Nous nous engageons à fournir un service de qualité et à faire de notre mieux pour garantir la précision et la
        fiabilité des alertes et du contenu généré. Cependant, nous ne garantissons pas que les résultats seront
        toujours exacts, complets ou sans erreur. L'utilisation de notre service se fait à vos propres risques.</p>
    <h2>4. Consentement aux Notifications</h2>
    <p>Lors de la configuraton d'alerte courriel ou SMS, l'utilisateur se doit d'indiquer des destinataires qui ont
        consentie à recevoir des notifications. Un utilisateur qui utiliserais l'application ErabliereAPI afin d'envoyer
        des communication non approprié se verait banit de l'application.</p>
    <h2>5. Contenu Partagé</h2>
    <p>Tout contenu partagé au sein de l'application doit être en rapport avec la surveillance par capteur. Nous nous
        réservons le droit de supprimer tout contenu que nous jugeons inapproprié, offensant ou non conforme à ces
        termes. L'utilisateur est responsable du contenu qu'il partage.</p>
    <h2>6. Responsabilités de l'Utilisateur</h2>
    <p>En utilisant notre application, vous vous engagez à :</p>
    <ul>
        <li>Respecter toutes les lois et réglementations applicables.</li>
        <li>Ne pas partager de contenu inapproprié ou offensant.</li>
        <li>Ne pas utiliser notre service pour des activités illégales ou nuisibles.</li>
        <li>Ne pas harceler, menacer ou porter atteinte à autrui.</li>
    </ul>
    <h2>7. Modifications des Termes</h2>
    <p>Nous nous réservons le droit de modifier ces termes d'utilisation à tout moment. Les utilisateurs seront
        informés des modifications par un avis sur notre application. Votre utilisation continue de notre service après
        la publication de modifications constitue votre acceptation des nouveaux termes.</p>
    <h2>8. Limitation de Responsabilité</h2>
    <p>Dans toute la mesure permise par la loi, nous ne serons pas responsables des dommages indirects, accessoires,
        spéciaux ou punitifs résultant de l'utilisation ou de l'incapacité à utiliser notre application.</p>
    <h2>9. Contact</h2>
    <p>Pour toute question ou préoccupation concernant ces termes d'utilisation, veuillez nous contacter à l'adresse
        suivante : {{ emailContact ?? '[adresse e-mail de contact]'}}.</p>
    <p>En utilisant notre application, vous reconnaissez avoir lu et compris ces termes d'utilisation et vous vous
        engagez à les respecter.</p>
    <div class="text-center mb-3">
        @if (authEnable && !hasAcceptTerms && isLoggedIn)
        {
        <div class="btn-group me-2">
            <button class="btn btn-info" title="Accepter les conditions" (click)="acceptTerms()">J'accepte les conditions !</button>
        </div>
        <div class="btn-group">
            <a class="btn btn-info" href="/">Continuer sans accepter</a>
        </div>
        }
        @else if (isLoggedIn) {
            <p>Vous avez accepter les termes en date du {{ acceptTermsDate | date: 'yyyy-MM-dd' }}.</p>
        }
    </div>
</div>