<div>
  @if (erreur) {
    <div class="alert alert-danger" role="alert">
      {{ erreur }}
    </div>
  }
  <div class="card mb-3 mt-3">
    <div class="card-header">
      <h5 class="card-title">{{rapport?.type}} - {{ rapport?.nom }} - {{ formatDate(rapport?.dateDebut) }} - {{
      formatDate(rapport?.dateFin) }}</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <strong>Moyenne:</strong>
          {{ formatNumber(rapportData?.moyenne) }} {{ rapportData?.capteur?.symbole}}
        </div>
        <div class="col-md-3">
          <strong>Somme:</strong>
          {{ formatNumber(rapportData?.somme) }} {{ rapportData?.capteur?.symbole}}
        </div>
        <div class="col-md-3">
          <strong>Min:</strong>
          {{ formatNumber(rapportData?.min) }} {{ rapportData?.capteur?.symbole}}
        </div>
        <div class="col-md-3">
          <strong>Max:</strong>
          {{ formatNumber(rapportData?.max) }} {{ rapportData?.capteur?.symbole}}
        </div>
        <div class="col-md-3">
          <strong>Nombre de jours:</strong>
          {{ rapportData?.donnees?.length }}
        </div>
        <div class="col-md-3">
          <strong>Date de création:</strong><br/>
          {{ rapportData?.dc | date:'yyyy-MM-dd hh:mm:ss' }}
        </div>
        <div class="col-md-3">
          <strong>Date de mise à jour:</strong><br/>
          {{ rapportData?.dateModification | date:'yyyy-MM-dd hh:mm:ss' }}
        </div>
      </div>
    </div>
  </div>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th [className]="getHeaderClass('date')" (click)="sortBy('date')" (keydown)="keyPressSortBy($event, 'date')">Date</th>
        <th [className]="getHeaderClass('moyenne')" (click)="sortBy('moyenne')" (keydown)="keyPressSortBy($event, 'moyenne')">Moyenne</th>
        <th [className]="getHeaderClass('somme')" (click)="sortBy('somme')" (keydown)="keyPressSortBy($event, 'somme')">Degré jour</th>
        <th [className]="getHeaderClass('min')" (click)="sortBy('min')" (keydown)="keyPressSortBy($event, 'min')">Min</th>
        <th [className]="getHeaderClass('max')" (click)="sortBy('max')" (keydown)="keyPressSortBy($event, 'max')">Max</th>
      </tr>
    </thead>
    <tbody>
      @for (ligne of rapportData?.donnees; track ligne) {
        <tr>
          <td>{{ formatDate(ligne.date) }}</td>
          <td>{{ formatNumber(ligne.moyenne) }} {{ rapportData?.capteur?.symbole}}</td>
          <td>{{ formatNumber(ligne.somme) }} {{ rapportData?.capteur?.symbole}}</td>
          <td>{{ formatNumber(ligne.min) }} {{ rapportData?.capteur?.symbole}}</td>
          <td>{{ formatNumber(ligne.max) }} {{ rapportData?.capteur?.symbole}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>