<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Utilisateur</th>
                <th>Date création</th>
                <th>Dernière utilisation</th>
                <th>Révoqué</th>
                <th>Date révocation</th>
                <th>Méthodes autorisées</th>
                <th>Urls autorisées</th>
                <th class="min"></th>
            </tr>
        </thead>
        <tbody>
            @for (apikey of apiKeys; track apikey.id) {
            <tr>
                <td><copy-id-button [text]="apikey.id" [title]="'Copier l\'id de la clé d\'api: ' + apikey.id"></copy-id-button></td>
                <td>{{apikey.name}} <ebutton style="float: right;" type="outline-primary" (clicked)="editNameFormOpen.emit(apikey)">&#9998;</ebutton></td>
                <td>{{apikey?.customer?.name}}</td>
                <td>{{apikey.creationTime | date: 'yyyy-MM-dd' }}</td>
                <td>{{apikey.lastUsage | date: 'yyyy-MM-dd' }}</td>
                <td>{{apikey.revocationTime != null}} @if (apikey.revocationTime == null) { <ebutton type="danger" (clicked)="(revoquer(apikey.id))">Révoquer</ebutton> }</td>
                <td>{{apikey.revocationTime | date: 'yyyy-MM-dd' }}</td>
                <td>{{apikey.authorizeVerbs}}</td>
                <td>{{apikey.authorizeUris}}</td>
                <td><ebutton type="primary" (clicked)="editAccessFormOpen.emit(apikey)">&#9998; accès</ebutton></td>
            </tr>
            }
        </tbody>
    </table>
</div>
