<div class="modal fade" 
     id="erabliereFormModal" 
     tabindex="-1" 
     aria-labelledby="erabliereFormModalLabel" 
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="erabliereFormModalLabel">{{ modalTitle }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <erabliere-form></erabliere-form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <ebutton type="primary" (clicked)="ajouterErabliere()" [inProgress]="postErabliereInProgress">Ajouter</ebutton>
                @if (erreurAjout != null) {
                    <div class="alert alert-danger mt-2" role="alert">
                        {{ erreurAjout }}
                    </div>
                }
            </div>
        </div>
    </div>
</div>