<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Utilisateur</th>
                <th>Date création</th>
                <th>Dernière utilisation</th>
                <th>Révoqué</th>
                <th>Date révocation</th>
                <th class="min"></th>
            </tr>
        </thead>
        <tbody>
            @for (apikey of apiKeys; track apikey.id) {
            <tr>
                <td><copy-id-button [text]="apikey.id" [title]="'Copier l\'id de la clé d\'api:' + apikey.id"></copy-id-button></td>
                <td>{{apikey.name}}</td>
                <td>{{apikey?.customer?.name}}</td>
                <td>{{apikey.creationTime | date: 'yyyy-MM-dd' }}</td>
                <td>{{apikey.lastUsage | date: 'yyyy-MM-dd' }}</td>
                <td>{{apikey.revocationTime != null}}</td>
                <td>{{apikey.revocationTime | date: 'yyyy-MM-dd' }}</td>
                <td class="min"></td>
            </tr>
            }
        </tbody>
    </table>
</div>
