<div class="m-3">
    <h3>Érablières</h3>
    <hr />
    @if (erabliereAModifier) {
        <modifier-erabliere-modal
            [erabliere]="erabliereAModifier"
            (needToUpdate)="terminerModifierErabliere($event)">
        </modifier-erabliere-modal>
    }

    <div>
        <div class="row">
            <div class="col-12 col mb-2">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Rechercher"
                    (keyup)="rechercher($event)" />
            </div>
        </div>

        <erabliere-list
            [erablieres]="erablieres"
            (erabliereASupprimer)="supprimerErabliere($event)"
            (erabliereAModifier)="demarrerModifierErabliere($event)"
        ></erabliere-list>
    </div>
    <div>
      <app-pagination
        [nombreParPage]="top"
        [nombreElements]="totalErabliere"
        (changementDePageEvent)="onPageChange($event)" />
    </div>
</div>
