<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="favicon.ico" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            Érablière IU
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    @if (idErabliereSelectionee) {
                    <a class="nav-link ps-0" routerLink="/e/{{idErabliereSelectionee}}/graphiques"
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        Graphiques
                    </a>
                    } @else {
                    <a class="nav-link" routerLink="/e" routerLinkActive="active" ariaCurrentWhenActive="page">
                        Graphiques
                    </a>
                    }
                </li>
                @if (isLoggedIn && thereIsAtLeastOneErabliere) {
                <li class="nav-item">
                    <a class="nav-link" routerLink="/e/{{idErabliereSelectionee}}/appareils" routerLinkActive="active"
                        ariaCurrentWhenActive="page">
                        Appareils</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/e/{{idErabliereSelectionee}}/capteurs" routerLinkActive="active"
                        ariaCurrentWhenActive="page">
                        Capteurs</a>
                </li>
                <li class="nav-item">
                    <a id="nav-menu-alerte-button" class="nav-link" routerLink="e/{{idErabliereSelectionee}}/alertes"
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        Alertes
                    </a>
                </li>
                <li class="nav-item">
                    <a id="nav-menu-notes-button" class="nav-link" routerLink="/e/{{idErabliereSelectionee}}/notes"
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        Notes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/e/{{idErabliereSelectionee}}/documentation"
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        Documentation
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/e/{{idErabliereSelectionee}}/rapports" routerLinkActive="active"
                        ariaCurrentWhenActive="page">
                        Rapports
                    </a>
                </li>
                }
                <li class="nav-item">
                    <a class="nav-link" routerLink="/apropos" routerLinkActive="active" ariaCurrentWhenActive="page">
                        À Propos
                    </a>
                </li>
            </ul>
            <div class="d-flex gap-2">
                @if (isErabliereAIUser && useAuthentication && isLoggedIn) {
                <button id="zone-ai-button" class="btn btn-success" routerLink="/ai"><span>🤖 </span>AI</button>
                }
                @if (mapFeatureEnable) {
                <button id="zone-carte-button" class="btn btn-primary" routerLink="/map"><span>🗺️ </span>Carte</button>
                }
                @if (!useAuthentication || isAdminUser) {
                <button id="zone-admin-button" class="btn btn-outline-primary" routerLink="/a"><span>⚙️ </span>Admin</button>
                }
                @if (useAuthentication) {
                <connection-button (loginChange)="onLoginChange($event)" />
                }
                @if (isLoggedIn) {
                <button id="zone-profile-button" class="btn btn-outline-secondary" routerLink="/profile"
                    routerLinkActive="active" ariaCurrentWhenActive="page">
                    <span>👤</span>
                </button>
                }
            </div>
        </div>
    </div>
</nav>