<h3>Rapports</h3>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="typeRapport">Type de rapport</label>
            <select class="form-control" id="typeRapport" (change)="typeRapportChanged($event)">
                <option value="degreJour">Degré-jour</option>
            </select>
        </div>

        @switch (typeRapport) {
        @case ("degreJour") {
        <app-rapport-degre-jour></app-rapport-degre-jour>
        }
        @default {
        <span>Rapport inconnu</span>
        }
        }
    </div>

    <div class="col-md-6">
        <!-- Liste des rapports enregistré -->
        <div>
            <h4>Rapports enregistrés</h4>
            <ul class="list-group">
                @for (rapport of rapportsSaved; track rapport) {
                <li class="list-group-item">
                    <a class="m-1" (click)="rapportSelected(rapport)">{{rapport.type}} - {{ formatDate(rapport.dateDebut) }} - {{ formatDate(rapport.dateFin) }}</a>
                    <span class="float-right m-1">
                        <button class="btn btn-sm btn-info" (click)="refreshRapport(rapport)">Rafraichir</button>
                        <button class="btn btn-sm btn-danger" (click)="deleteRapport(rapport)">Supprimer</button>
                    </span>
                </li>
                }
            </ul>
        </div>
    </div>
</div>