.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chat-window {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-height: 95%;
  overflow: scroll;
  white-space: nowrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  max-width: 100%;
}