<div class="position-fixed bottom-0 end-0 m-3 btn-group">
  <button type="button" class="btn btn-lg btn-outline-success rounded-circle chat-button" (click)="openChat()">
    <!-- use to logo ico of the website -->
    <img src="/favicon.ico" alt="logo" width="30" height="30" class="d-inline-block align-text-top">
  </button>
</div>

@if (chatOpen) {
  <div class="chat-window">
    <app-erabliereai-window (closeChatWindowEvent)="closeChat()" [isModal]="isModal"></app-erabliereai-window>
  </div>
}