<form [formGroup]="editRapportForm" class="row mb-3" novalidate>
    <span class="text-danger">
        {{generalError}}
    </span>
    <div class="form-group">
        <einput 
            [arialabel]="'Nom'" 
            [type]="'text'" 
            [name]="'nom'"
            [formGroup]="editRapportForm">
        </einput>
    </div>
    <div class="form-group">
        <einput 
            [arialabel]="'Type'" 
            [type]="'text'" 
            [name]="'type'"
            [formGroup]="editRapportForm">
        </einput>
    </div>
    <div class="form-group">
        <einput 
            [arialabel]="'Utiliser temperature depuis trio de données'" 
            [type]="'checkbox'" 
            [name]="'utiliserTemperatureTrioDonnee'"
            [formGroup]="editRapportForm">
        </einput>
    </div>
    <div class="form-group">
        <einput 
            [arialabel]="'Date de début'" 
            [type]="'date'" 
            [name]="'dateDebut'"
            [formGroup]="editRapportForm">
        </einput>
    </div>
    <div class="form-group">
        <einput 
            [arialabel]="'Date de fin'" 
            [type]="'date'" 
            [name]="'dateFin'"
            [formGroup]="editRapportForm">
        </einput>
    </div>
    <div class="form-group">
        <einput 
            [arialabel]="'Seuil'" 
            [type]="'number'" 
            [name]="'seuilTemperature'"
            [formGroup]="editRapportForm">
        </einput>
    </div>
    <div class="form-group">
        <einput 
            [arialabel]="'Afficher dans le dashboard'" 
            [type]="'checkbox'" 
            [name]="'afficherDansDashboard'"
            [formGroup]="editRapportForm">
        </einput>
    </div>
    <div class="form-group">
        <button class="btn btn-success m-1" (click)="onClickEnregistrer()">Enregistrer</button>
        <button class="btn btn-secondary m-1" (click)="closeModal.emit()">Annuler</button>
    </div>
</form>