@if(display) {
<div>
  <span class="text-danger">
    {{generalError}}
  </span>
  <form [formGroup]="noteForm" id="ajouter-note" novalidate>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-2">
          <einput 
            arialabel="Titre" 
            [formGroup]="noteForm" 
            name="title"
            placeholder="Titre de la note"
            [errorObj]="errorObj"></einput>
        </div>
        <div class="mb-2">
          <etextarea 
            arialabel="Text" 
            [formGroup]="noteForm" 
            name="text"
            placeholder="Description"
            [errorObj]="errorObj"></etextarea>
        </div>
        <div [class]="'form-group mb-3' + (noteForm.controls['file'].touched ? ' was-validated' : '')">
          <label class="form-label" for="ajouter-note-file">Fichier: </label>
          <input class="form-control" type="file" formControlName="file" (change)="convertToBase64($event)"
            id="ajouter-note-file" />
          <input-error [errorObj]="errorObj" [controlName]="'file'"></input-error>
          @if(!fileToLargeErrorMessage) {
          <span class="text-danger">
            {{fileToLargeErrorMessage}}
          </span>
          }
        </div>
        <div class="mb-3">
          <einput 
            arialabel="Date de la note" 
            [formGroup]="noteForm" 
            name="noteDate"
            type="date"
            placeholder="Date de la note"
            [errorObj]="errorObj"></einput>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-3">
          <input class="form-check-input me-2" type="checkbox" formControlName="reminderEnabled"
            id="ajouter-note-reminderEnabled" />
          <label class="form-check-label" for="ajouter-note-reminderEnabled">Ajouter un rappel</label>
        </div>
        @if(displayReminder) {
        <div class="mb-3">
          <einput 
            arialabel="Date Rappel" 
            [formGroup]="noteForm" 
            name="dateRappel"
            type="date"
            placeholder="Date de rappel"
            [errorObj]="errorObj"></einput>
        </div>

        <div class="mb-3">
          <einput 
            arialabel="Date Rappel Fin" 
            [formGroup]="noteForm" 
            name="dateRappelFin"
            type="date"
            placeholder="Date de fin de rappel"
            [errorObj]="errorObj"></einput>
        </div>

        <div [class]="'form-group mb-3' + (noteForm.controls['periodicite'].touched ? ' was-validated' : '')">
          <label for="periodicite">Periodicité</label>
          <select id="periodicite" class="form-control" formControlName="periodicite">
            <option value="Aucune">Aucune</option>
            <option value="annuel">Annuel</option>
            <option value="mensuel">Mensuel</option>
            <option value="bihebdo">Bihebomadaire</option>
            <option value="hebdo">Hebdomadaire</option>
            <option value="quotidien">Quotidien</option>
          </select>
          @if (noteForm.controls['periodicite'].errors && noteForm.controls['periodicite'].touched) {
          <div>
            @if (noteForm.controls['periodicite'].errors!.datesRequiredForPeriodicite) {
            <small class="text-danger">Date de fin de rappel obligatoire pour une périodicité.</small>
            }
          </div>
          }
          <input-error [errorObj]="errorObj" [controlName]="'periodicite'"></input-error>
        </div>
        }
      </div>
      <div class="col-md-12">
        <button id="creerNote" class="btn btn-primary me-2" (click)="onButtonCreerClick()">Créer</button>
        <button id="annulerCreerNote" class="btn btn-secondary" (click)="onButtonAnnuleClick()">Annuler</button>
      </div>
    </div>
    @if (uploadInProgress) {
    <div>
      <span class="text-success">Téléchargement en cours... Total: {{totalSize}} Mb</span>
      <div class="spinner-border text-success">
        <span class="visually-hidden">Chargement...</span>
      </div>
    </div>
    }
  </form>
</div>
} @else {
<div>
  <button id="addNoteButton" class="btn btn-primary" (click)="onButtonAjouterClick()">Ajouter</button>
</div>
}