<h3>Notes</h3>
@if (error) {
  <div class="mb-3">
    <span class="text-danger">{{error}}</span>
  </div>
}
<div class="mb-3">
  <ajouter-note
    [idErabliereSelectionee]="idErabliereSelectionee"
    (needToUpdate)="loadNotes()"
    />
    <modifier-note
      [idErabliereSelectionee]="idErabliereSelectionee"
      [noteSubject]="noteToModify"
      (needToUpdate)="loadNotes()"
      />
    </div>
    <div class="row me-1">
      <div class="form-group mb-2">
        <label for="recherche">Recherche</label>
        <input
          type="text"
          id="recherche"
          class="form-control"
          (keyup)="searchChanged($event)" />
        </div>

        @if(notes === undefined) {
          <div>
            <p>Chargement des notes...</p>
          </div>
        } @else if (notes.length === 0) {
          <div>
            <p>Aucune note</p>
          </div>
        }

        @for(note of notes; track note.id) {
          <div>
            <note
              [note]="note"
              [noteToModifySubject]="noteToModify"
              (needToUpdate)="loadNotes(note.id)"
              />
            </div>
          }

          <app-pagination
            [nombreParPage]="this.nombreParPage"
            [nombreElements]="this.nombreTotal"
            (changementDePageEvent)="this.pageActuelle = $event"
            />
          </div>
