<div id="note-{{ note.id }}" class="card mb-3">
  <h4 class="card-header">{{ note.title }}</h4>
  <div class="card-body">
    <div class="row">
      <div class="col-md-{{ note.file ? '5' : '10' }}">
        <p class="noteDescription card-text">{{ note.text }}</p>

        @if (note.fileExtension === 'csv') {
        <p class="card-text">{{ note.decodedTextFile }}</p>
        }

        <p class="noteDate card-text"><small class="text-muted">Date de Création: {{ note.noteDate | date: 'dd-MM-yyyy'
            }}</small></p>

      </div>
      <div class="col-md-1">
        @if (note.rappel) {
        <div class="noteReminder card bg-light p-3 mb-3 d-inline-block" style="width: max-content;">
          <h5 class="card-title">Rappel</h5>
          <div class="card-text">
            <small class="text-muted">
              @if (note.rappel.dateRappel) {
              <span>Début: {{ note.rappel.dateRappel | date: 'dd-MM-yyyy' }}</span>
              }<br>
              @if (note.rappel.dateRappelFin) {
              <span>Fin: {{ note.rappel.dateRappelFin | date: 'dd-MM-yyyy' }}</span>
              }@if (note.rappel.dateRappelFin) {
              <br>
              }
              @if (note.rappel.periodicite) {
              <span>Periodicité: {{ note.rappel.periodicite }}</span>
              }@if (note.rappel.periodicite) {
              <br>
              }
              @if (note.rappel.isActive !== null) {
              <span>Statut: {{ note.rappel.isActive ? 'Actif' : 'Inactif' }}</span>
              }
            </small>
          </div>
        </div>
        }
      </div>

      @if (note.fileExtension !== 'csv') {
      @if (note.file !== '') {
      <div class="col-md-6">
        <img class="card-img-bottom img-thumbnail rounded mx-auto d-block img-thumbnail trigger-modal"
          style="max-width: 75%;" src="data:image/png;base64,{{ note.file }}" alt="{{ note.title }}"
          (click)="displayImageModalFunc()" (keyup)="openModalOnKeyUp($event)" />
      </div>
      }
      }
    </div>
  </div>

  <div class="card-footer" style="padding-bottom: 0;">
    <ebutton class="btn-group me-2 mb-2" type="info" size="sm" (clicked)="selectEditNote()">Modifier</ebutton>
    <ebutton class="btn-group me-2 mb-2" type="primary" size="sm" (clicked)="modifierImage()">Modifier l'image</ebutton>
    @if (isAIUser)
    {
    <ebutton class="btn-group me-2 mb-2" type="secondary" size="sm" (clicked)="genererUneImageParIA()" [inProgress]="isGeneratingImage">Générer une image</ebutton>
    }
    <ebutton class="btn-group me-2 mb-2" type="danger" size="sm" (clicked)="deleteNote()" [inProgress]="isDeletingNote">Supprimer</ebutton>

    @if (actionError) {
    <div class="row">
      <span class="text-danger">{{ actionError }}</span>
    </div>
    }

    @if (progressionText) {
    <div class="row">
      <span class="text-muted">{{ progressionText }}</span>
    </div>
    }
  </div>

  @if (displayImageModal) {
  <div class="modal" style="display: block;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ note.title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="displayImageModal = false">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <img [src]="'data:image/png;base64,' + note.file" class="img-fluid modal-image-content"
            alt="{{ note.title }}">
        </div>
      </div>
    </div>
  </div>
  }
</div>