.match-parent {
    width: 100%;
    height: 700px;
}

#mapipinfo {
    position: relative;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}