<div id="graph-pannel-{{idCapteur}}">
    <div class="row">
        <div class="col-10">
            <h3>{{ titre }} {{ valeurActuel }} {{ symbole }} {{ mean }}</h3>
        </div>
        <div class="col-2">
            @if (batteryLevel != null) {
                <div class="mt-2">
                    <div class="progress" title="Niveau de la batterie">
                        <div class="progress-bar"
                                role="progressbar"
                                [style.width.%]="batteryLevel"
                                [attr.aria-valuenow]="batteryLevel"
                                aria-valuemin="0"
                                aria-valuemax="100">
                            {{ batteryLevel }}%
                        </div>
                    </div>
                </div>
                }
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-auto px-0">
                <div class="dropdown me-2">
                    <button class="btn btn-secondary dropdown-toggle"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Durée {{ duree }}
                    </button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="updateGraph(0, 12)">12h</a>
                        <a class="dropdown-item" (click)="updateGraph(0, 24)">24h</a>
                        <a class="dropdown-item" (click)="updateGraph(7, 0)">7 jours</a>
                        <a class="dropdown-item">
                            Choisir interval
                            <div>
                                <date-time-selector [titre]="'Début: '" (onChange)="captureDateDebut($event)"></date-time-selector>
                                <date-time-selector [titre]="'Fin: '" (onChange)="captureDateFin($event)"></date-time-selector>
                            </div>
                            <button class="btn btn-secondary m-2" (click)="updateGraphUsingFixRange()">Appliquer</button>
                        </a>
                    </div>

                    <span class="ms-2 mt-2">{{ textActuel }}</span>
                </div>
            </div>
            @if (ajouterDonneeDepuisInterface) {
                <ajouter-donnee-capteur
                    class="col-md-auto px-0"
                    [idCapteur]="idCapteur"
                    (needToUpdate)="updateDonneesCapteur($event)"
                    [symbole]="symbole" />
            }
        </div>
    </div>

    <div class="chart-wrapper">
        <canvas baseChart class="chart"
            [datasets]="datasets"
            [labels]="timeaxes"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [plugins]="lineChartPlugins"
            [type]="lineChartType">
        </canvas>
    </div>
</div>
