<div id="graph-pannel-{{idCapteur}}" [className]="online == undefined || online ? '' : 'border-top border-danger'">
    <div class="row">
        <div [className]="batteryLevel ? col10 : col12">
            <h3>{{ titre }} {{ valeurActuel }} {{ symbole }} {{ mean }}</h3>
        </div>
        @if (batteryLevel != null && (online == undefined || online)) {
        <div class="col-2">
                <div class="mt-2">
                    <div class="progress" title="Niveau de la batterie {{ batteryLevel }}%">
                        <div
                                [className]="batteryLevel < 20 ? 'progress-bar bg-danger text-dark overflow-visible' : batteryLevel < 50 ? 'progress-bar bg-warning overflow-visible' : 'progress-bar bg-success'"
                                [style.width.%]="batteryLevel"
                                [attr.aria-valuenow]="batteryLevel"
                                [textContent]="batteryLevel + '%'"
                                aria-valuemin="0"
                                aria-valuemax="100">
                            {{ batteryLevel }}%
                    </div>
                    </div>
                </div>
            </div>
        }
        @if (online === false) {
            <div class="col-2">
                <div title="Capteur hors ligne">
                    <div class="text-danger">
                        Hors ligne
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="container">
        <div class="row">
            <div class="col-auto px-0">
                <div class="dropdown me-2">
                    <button class="btn btn-secondary dropdown-toggle"
                       href="#"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                       (keyup)="dropDownKeyUpEvent($event)">
                        Durée {{ duree }}
                    </button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="updateGraph(0, 12)">12h</a>
                        <a class="dropdown-item" (click)="updateGraph(0, 24)">24h</a>
                        <a class="dropdown-item" (click)="updateGraph(7, 0)">7 jours</a>
                        <a class="dropdown-item">
                            Choisir interval
                            <div>
                                <date-time-selector [titre]="'Début: '" (onChange)="captureDateDebut($event)"></date-time-selector>
                                <date-time-selector [titre]="'Fin: '" (onChange)="captureDateFin($event)"></date-time-selector>
                            </div>
                            <button class="btn btn-secondary m-2" (click)="updateGraphUsingFixRange()">Appliquer</button>
                        </a>
                    </div>

                    <span class="ms-2 mt-2">{{ textActuel }}</span>

                    @if (errorMessage) {
                        <span class="text-danger">
                            {{ errorMessage }}
                        </span>
                    }
                </div>
            </div>
            @if (ajouterDonneeDepuisInterface) {
                <ajouter-donnee-capteur
                    class="col-md-auto px-0"
                    [idCapteur]="idCapteur"
                    (needToUpdate)="updateDonneesCapteur($event)"
                    [symbole]="symbole" />
            }
        </div>
    </div>

    <div class="chart-wrapper">
        <canvas baseChart class="chart"
            [datasets]="datasets"
            [labels]="timeaxes"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [plugins]="lineChartPlugins"
            [type]="lineChartType">
        </canvas>
    </div>
</div>
