@if (!display) {
<div>
  <button id="ajouter-alerte-btn" class="btn btn-primary mb-2" (click)="onButtonAjouterClick()">Ajouter</button>
</div>
}
@if (display) {
<div>
  <span class="text-danger">{{generalError}}</span>
  <div>
    <div>
      <form [formGroup]="typeAlerteSelectListForm">
        <div class="form-group mb-2">
          <label for="typeAlerteSelect" class="form-label">Type d'alerte</label>
          <select class="form-control" id="typeAlerteSelect" formControlName="state"
            (change)="onChangeAlerteType($event)">
            <option value="1" [selected]="typeAlerte == 1">Alerte trio de donnée</option>
            <option value="2" [selected]="typeAlerte == 2">Alerte de capteur</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  @if (typeAlerte == 1) {
  <div>
    <form [formGroup]="alerteForm">
      <div class="form-group mb-2">
        <einput [formGroup]="alerteForm" name="nom" placeholder="Nom de l'alerte" />
      </div>
      <div class="row">
        <div class="form-group mb-2 col-md-6">
          <einput [formGroup]="alerteForm" name="destinataireCourriel"
            placeholder="exemple1@exmeple.com;exemple2@exemple.com" />
        </div>
        <div class="form-group mb-2 col-md-6">
          <einput [formGroup]="alerteForm" name="destinataireSMS" placeholder="1231231234" />
        </div>
        <div class="form-group mb-2 col-md-6">
          <einput [formGroup]="alerteForm" type="number" name="temperatureMin" symbole="°C" />
        </div>
        <div class="form-group mb-2 col-md-6">
          <einput [formGroup]="alerteForm" type="number" name="temperatureMax" symbole="°C" />
        </div>
        <div class="form-group mb-2 col-md-6">
          <einput [formGroup]="alerteForm" type="number" name="vacciumMin" symbole="HG" arialabel="Vaccum Min"  />
        </div>
        <div class="form-group mb-2 col-md-6">
          <einput [formGroup]="alerteForm" type="number" name="vacciumMax" symbole="HG" arialabel="Vaccum Max" />
        </div>
        <div class="form-group mb-2 col-md-6">
          <einput [formGroup]="alerteForm" type="number" name="niveauBassinMin" symbole="%" />
        </div>
        <div class="form-group mb-2 col-md-6">
          <einput [formGroup]="alerteForm" type="number" name="niveauBassinMax" symbole="%" />
        </div>
      </div>
      <button id="creer-alerte-donnees-btn" class="btn btn-primary mt-2 me-2 mb-3"
        (click)="onButtonCreerClick()">Créer</button>
      <button class="btn btn-secondary mt-2 mb-3" (click)="onButtonAnnuleClick()">Annuler</button>
      <div>
        <span class="text-danger">{{generalError}}</span>
      </div>
    </form>
  </div>
  }
  @if (typeAlerte == 2) {
  <div>
    <form [formGroup]="alerteCapteurForm">
      <div class="row">
        <div class="form-group col-md-6">
          <einput [formGroup]="alerteCapteurForm" name="nom" placeholder="Nom de l'alerte" />
        </div>
        <div class="form-group col-md-6">
          <label for="idCapteur" class="form-label">Capteur: </label>
          <select class="form-control" formControlName="idCapteur">
            @for (capteur of capteurs; track capteur) {
            <option [value]="capteur.id">{{capteur.nom}}</option>
            }
          </select>
        </div>
        <div class="form-group mb-2 col-md-6">
          <einput [formGroup]="alerteCapteurForm" name="destinataireCourriel"
            placeholder="exemple1@exemple.com;exemple2@exemple.com" />
        </div>
        <div class="form-group mb-2 col-md-6">
          <einput [formGroup]="alerteCapteurForm" name="destinataireSMS" placeholder="1231231234" />
        </div>
        <div class="form-group col-md-6">
          <einput [formGroup]="alerteCapteurForm" type="number" name="min" symbole={{capteurSymbole()}} />
        </div>
        <div class="form-group mb-2 col-md-6">
          <einput [formGroup]="alerteCapteurForm" type="number" name="max" symbole={{capteurSymbole()}} />
        </div>
      </div>
      <button id="creer-alerte-capteur-btn" class="btn btn-primary mt-2 me-2 mb-3"
        (click)="onButtonCreerAlerteCapteurClick()">Créer</button>
      <button class="btn btn-secondary mt-2 mb-3" (click)="onButtonAnnuleClick()">Annuler</button>
      <div>
        <span class="text-danger">{{generalError}}</span>
      </div>
    </form>
  </div>
  }
</div>
}