<h5>Liste des IPs</h5>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>IP</th>
                <th>Réseau</th>
                <th>Pays</th>
                <th>Code Pays</th>
                <th>Continent</th>
                <th>ASN</th>
                <th>AS Name</th>
                <th>AS Domain</th>
                <th>Autorisé</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (ipInfo of ipInfos; track ipInfo.id) {
            <tr>
                <td><a href="https://ipinfo.io/{{ipInfo.ip}}" target="_blank">{{ipInfo.ip}}</a></td>
                <td>{{ipInfo.network}}</td>
                <td>{{ipInfo.country}}</td>
                <td>{{ipInfo.countryCode}}</td>
                <td>{{ipInfo.continent}}</td>
                <td>{{ipInfo.asn}}</td>
                <td>{{ipInfo.aS_name}}</td>
                <td>{{ipInfo.aS_domain}}</td>
                <td>{{ textBloquerParReglePays(ipInfo) }}</td>
                <td>{{ipInfo.dc | date:'yyyy-MM-dd'}}</td>
                <td>{{ipInfo.dm | date:'yyyy-MM-dd'}}</td>
                <td>
                    <div class="btn-group">
                        <ebutton
                            type="danger"
                            size="sm"
                            (clicked)="deleteIpInfo(ipInfo.id)">Supprimer</ebutton>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>