<form [formGroup]="ajoutCapteurForm" class="row mb-3" novalidate>
    <!-- ajouter la section des erreurs général -->
    @if (generalError) {
    <span class="text-danger">
        {{ generalError }}
    </span>
    }
    <div [class]="'col-md-6 mb-3' + (ajoutCapteurForm.controls['nom'].touched ? ' was-validated' : '')">
        <einput [id]="'nom'" [name]="'nom'" [placeholder]="'Nom du capteur'" [formGroup]="ajoutCapteurForm"
            [maxlength]="200" />
    </div>

    <div [class]="'col-md-6 mb-3' + (ajoutCapteurForm.controls['symbole'].touched ? ' was-validated' : '')">
        <einput [id]="'symbole'" [name]="'symbole'" [arialabel]="'Symbole'" [placeholder]="'Symbole du capteur'"
            [formGroup]="ajoutCapteurForm" [maxlength]="7" />
    </div>

    <div class="col-md-6">
        <div class="form-check form-switch">
            <label for="afficherCapteurDashboard" class="form-label">Afficher dans les graphiques:</label>
            <input type="checkbox" class="form-check-input" id="afficherCapteurDashboard"
                formControlName="affichageDashboard">
            <input-error [errorObj]="errorObj" [controlName]="'afficherCapteurDashboard'"></input-error>
        </div>

        <div class="form-check form-switch mb-3">
            <label for="ajouterDonneeDepuisInterface" class="form-check-label">Saisie manuelle</label>
            <input type="checkbox" class="form-check-input" id="ajouterDonneeDepuisInterface"
                formControlName="saisieManuelle">
            <input-error [errorObj]="errorObj" [controlName]="'ajouterDonneeDepuisInterface'"></input-error>
        </div>
    </div>

    <div [class]="'col-md-6 mb-3' + (ajoutCapteurForm.controls['type'].touched ? ' was-validated' : '')">
        <einput [id]="'type'" [name]="'type'" [arialabel]="'Type'" [placeholder]="'Type du capteur'"
            [formGroup]="ajoutCapteurForm" [maxlength]="100" [title]="'Indiquer un type de capteur uniquement pour information, par exemple Senscap, PLC, etc.'" />
    </div>

    <div [class]="'col-md-6 mb-3' + (ajoutCapteurForm.controls['externalId'].touched ? ' was-validated' : '')">
        <einput [id]="'externalId'" [name]="'externalId'" [arialabel]="'Id externe'"
            [placeholder]="'Id externe du capteur'" [formGroup]="ajoutCapteurForm" [maxlength]="50" [title]="'Indiquer un identifiant externe uniquement pour information, par exemple un ID de capteur dans un système tiers.'" />
    </div>

    <div [class]="'col-md-6 mb-3' + (ajoutCapteurForm.controls['displayType'].touched ? ' was-validated' : '')">
        <einput [id]="'displayType'" [name]="'displayType'" arialabel="Type d'affichage"
            placeholder="Type d'affichage du capteur" [formGroup]="ajoutCapteurForm" [maxlength]="50" title="Indiquer un type d'affichage uniquement, par exemple Graphique, Tableau, etc." />
    </div>

    <div class="btn-group">
        <ebutton type="primary" class="me-2" (clicked)="ajouterCapteur()" [inProgress]="ajoutInProgress">Ajouter
        </ebutton>
        <ebutton type="secondary" (clicked)="buttonAnnuler()">Annuler</ebutton>
    </div>
</form>