<div class="row border-top py-2">
    @if (initialErabliere?.afficherTrioDonnees) {
    <div class="col-md-4">
        <graph-panel [titre]="titre_temperature"
                     [valeurActuel]="temperatureValueActuel"
                     [mean]="meanTemperature"
                     [symbole]="temperatureSymbole"
                     [timeaxes]="timeaxes"
                     (updateGraphCallback)="updateGraph($event)"
                     (updateGraphUsingFixRangeCallback)="updateGraphUsingFixRangeCallback($event)"
                     [datasets]="temperature" #temperatureGraphPannel>
        </graph-panel>
    </div>
    <div class="col-md-4">
        <vacuum-graph-panel [titre]="titre_vaccium"
                     [valeurActuel]="vacciumValueActuel"
                     [symbole]="vacciumSymbole"
                     [timeaxes]="timeaxes"
                     [mean]="meanVaccium"
                     (updateGraphCallback)="updateGraph($event)"
                     (updateGraphUsingFixRangeCallback)="updateGraphUsingFixRangeCallback($event)"
                     [datasets]="vaccium" #vacciumGraphPannel>
        </vacuum-graph-panel>
    </div>
    <div class="col-md-4">
        <graph-panel [titre]="titre_niveaubassin"
                     [valeurActuel]="niveauBassinValueActuel"
                     [symbole]="niveauBassinSymbole"
                     [timeaxes]="timeaxes"
                     [mean]="meanNiveauBassin"
                     (updateGraphCallback)="updateGraph($event)"
                     (updateGraphUsingFixRangeCallback)="updateGraphUsingFixRangeCallback($event)"
                     [datasets]="niveaubassin" #niveaubassinGraphPannel>
        </graph-panel>
    </div>
    }
    @if (initialErabliere?.afficherSectionDompeux) {
    <div class="col-md-6">
        <bar-panel [titre]="titre_dompeux"
                   [timeaxes]="timeaxes_dompeux"
                   [datasets]="dompeux"
                   [barChartType]="dompeux_line_type" #dompeuxGraphPannel>
        </bar-panel>
    </div>
    }
</div>
