
<div class="modal position-absolute d-block">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRappelLabel">{{note.title}}</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal.emit(true)"></button>
            </div>
            <div class="modal-body">
                {{note.text}}
            </div>
            <div class="modal-footer">
                @if (note.file) {
                    <img [src]="note.file" class="img-fluid" alt="{{note.title}}">
                }
                @if (error) {
                    <div class="alert alert-danger" style="width: 100%;">{{error}}</div>
                }
                <button type="button" class="btn btn-info" (click)="reportRappelProchainePeriode()" title="Marquer le rappel comme terminé et passer à la prochaine période.">Terminer</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal.emit(true)" title="Fermer la modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
